.cal_outline{
    margin: auto;
    padding: 0px 10px 10px 10px;
    width: 20%;
    border: 5px solid #232526;
    border-radius: 5px;
    height: auto;
    background-image: linear-gradient(to left,  #5a5b5c, #babbbc);
}

.cal_display input[type=text]#cal_display_values{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #babbbc
}

.cal_display input[type=text]#cal_display_result{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #babbbc
}

.cal_display input[type=text]:focus{
    outline: none;
}

.cal_display button {
    width: 10%;
    background-color: #3a3a3a42;
    color: rgb(5, 6, 15);
    padding: 4px 4px 4px 4px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

.cal_buttons button {
    width: 20%;
    background-color: #3a3a3a42;
    color: rgb(5, 6, 15);
    padding: 4px 2px 2px 2px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
button:hover {
    background-color: #1a191942;
  }

.cal_buttons{
    box-sizing: border-box;
}

.cal_buttons_num{
    float: left;
    box-sizing: border-box;
    width:60%;
}

.cal_buttons_opr{
    float : left;
    box-sizing: border-box;
    width:40%;
}

.group:before,
.group:after{
    content: "";
    display: table;
}

.group:after{
    clear:both;
}

.group{
    zoom:1;
}
